caption {
    color: purple;
    font-weight: bold;
}
table {
  border: double purple 6px;
  border-collapse: collapse;
}

tr, td {
    border: solid 2px black;
    text-align: center;
}

th {
   border: solid 2px black;
    background-color: aqua;
}